Generic_API/Generic_API_1.0/mapping_rule_framework/* linguist-vendored
Generic_API/Generic_API_1.0/simmodel_framework/* linguist-vendored
Generic_API/Generic_API_1.0/simmodel2modelica.pro linguist-vendored
